<launch>
    <node pkg="octomap_server" type = "octomap_server_node" name="octomap_server">

        <param name ="resolution" value="0.05" />
        <param name = "frame_id" type="str" value="map" />
        <param name = "sensor_model/max_range" value="1000.0" />
        <param name = "latch" value="true" />
        <param name = "pointcloud_max_z" value="1" />
        <param name = "pointcloud_min_z" value="0.0" />

        <remap from ="cloud_in" to="/cloud_registered" />
    </node>
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub_1" args="0 0 0 0 0 0.015 map camera_init" />
    
</launch>
